numpy
scipy
sklearn
pillow
opencv-python

tornado
webrtcvad
pyaudio
playsound
requests
pycountry
reverse_geocoder

google-cloud-speech
google-cloud-TextToSpeech
google-cloud-translate

nltk
fuzzywuzzy[speedup]

SPARQLWrapper
iribaker
rdflib